.campaigns {
   height: 200vh;
   padding-top: 1%;
   text-align: center;
}

.details {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.nothing {
   color: white;
   margin-top: 20px;
   font-size: larger;
}