.campaigns {
   height: 200vh;
   padding-top: 1%;
   text-align: center;
}

.details {
   display: flex;
}

.nothing {
   color: white;
   margin-top: 20px;
   margin-left: 40%;
   font-size: larger;
}